{
  "EmbConfiguration": {
    "DataFlows": [
      {
        "Name": "Task1",
        "Source": {
          "ProviderName": "DvachDataSourceProvider",
          "EndpointOptions": "b"
        },
        "Targets": [
          {
            "ProviderName": "FileTargetProvider",
            "EndpointOptions": "2ch_b_threads.txt"
          }
        ]
      }
    ],
    "LogLevel": "Debug",
    "LogDirectoryName": "logs"
  },
  "DvachDataSourceProvider": {
    "Hostname": "2ch.hk" 
  }
}